{% extends "emailmanage/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static 'emailmanage/login.css' %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}


<div  id="content-main">
<h1>注册</h1>
<form method="post" action=".">
<!--
<label for="usename">用户名：</label>
<input type="text" name="usename" id="usename"  />
<br>
<label for="password">密&nbsp;&nbsp;&nbsp;码：</label>
<input type="password" name="password"  id="password"/>
<br>
<label for="confirmpassword">确认密码：</label>
<input type="password" name="confirmpassword"  id="confirmpassword"/>
<br>
-->
		{% if user_form.errors %}
		{% include "emailmanage/partials/errors.html" %}
		{% endif %}
		{% if profile_form.errors %}
		{% include "emailmanage/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in user_form %}
		{% include "emailmanage/partials/field.html" %}
		{% endfor %}
		{% for field in profile_form %}
		{% include "emailmanage/partials/field.html" %}
		{% endfor %}
		<div class="submit-row">
			<input type="submit" value="注册" />
			<input type="reset" value="重置" />
		</div>
</form>
</div>
{% endblock %}
